<h1>Our Blog</h1>

<%= link_to 'Develop Skills', '/blogs/1' %>
<br/>
<%= link_to 'Javascript Help', '/blogs/2' %>
<br/>
<%= link_to 'Destress Tools', '/blogs/3' %>
<br/>
<%= link_to 'Create New Blog', '/blogs/new' %>

